{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 2</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
<style>
  .p2-circle {
    display: inline-block;
    padding: 5px;
    background: #EEE;
    
}
  </style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1b</h3>
			</div>
			<div class="col-6">
				<button class="btn btn-light float-right">
					Stop
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="shape-container">
					<!-- Dynamically add your circles here! -->
					<!-- Example circle: <div class="p2-circle bg-blue"></div> -->
				</div>
			</div>
		</div>
	</div>


<script type="text/javascript">
 $(document).ready(function(){

  var clicked = false;

  var Start = function () {
      if (clicked) return;

    $(".shape-container").append("<div class='p2-circle'>TEST</div>")
      setTimeout(Start, 3000);
  };

  Start();

  $(document).on("click",".btn",function() {
     // When this is fired, function Start() should stop running

     clicked = true;
  });

});

// var timer;
  
// function go() {
  
//   };

//   $( document ).ready( go );
  
  
//  $(function() {
//   for (var i = 0; i < 20; i++) {
//   timer = setTimeout(function () {
//     $(".shape-container").append("<div class='p2-circle'>TEST</div>")
//  }, 1000 * i);
//   }
//  });
  
//   $('.btn').click(function(){
//     alert("Window Loaded");
//     // Clear the timeout
//     clearTimeout(timer);
// });
//  $(document ).load(function() {
//   // Handler for .load() called.
//    alert("Window Loaded");
// //    $(".shape-container").append("<div class='p2-circle'>TEST</div>")
// });

// $( document ).ready( go );
// window.setInterval(change, 3000);

</script>
</body>
</html>